@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Lato", sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    position: absolute;
    background: url("../img/bgshape.svg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 0.2em;
    background-color: #004747;
}

body::-webkit-scrollbar-thumb {
    background-color: #008080;
}

/* Navigation bar */
.navbar-container {
    position: relative;
    height: 72px;
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    z-index: 999;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

nav.nav-list ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

nav.nav-list ul li i {
    font-size: 22px;
    color: #fff;
}

nav.nav-list ul li button.button-menu {
    background-color: transparent;
    border: none;
}
/* End of Navigation bar */

.container {
    width: 75%;
    margin: 3rem auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-home {
    display: flex;
    flex-wrap: wrap;
}

.home {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}

.home h1.title-head {
    font-size: 46px;
    font-weight: 300;
}

.home p {
    margin: 12px 0 2rem 0;
    line-height: 1.5rem;
    letter-spacing: .5px;
}

.content-home .image {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.content-home .image img {
    width: 220px;
    border-radius: 50%;
}

button.cv-button {
    width: 8rem;
    padding: 12px 0;
    background-color: #008080;
    font-weight: bold;
    letter-spacing: 0.5px;
    border: 3px solid transparent;
    border-radius: 5px;
    box-shadow: 4px 4px #000;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

button.cv-button:hover {
    background-color: #FFFFFF;
    color: #008080;
    transform: translate(2px, 2px);
    box-shadow: 2px 2px #000;
}

/* About */
.content-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem 0;
    justify-content: center;
}

.content-about img.about-img {
    height: 120px;
}

.content-about h3 {
    text-align: center;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.content-about .interest {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
}

/* Project */
.content-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 25px;
}

.content-project h2 {
    font-size: 24px;
    font-weight: 300;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 1rem;
    justify-content: center;
}

.card {
    width: 250px;
    padding: .5rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 1.5rem;
    background-color: #008080;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    margin: .5rem 0;
    font-weight: 300;
}

.card button.button-card {
    color: #000;
    margin: 1rem 0;
    padding: 5px 14px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

footer {
    text-align: center;
    padding: 1rem 0;
    font-weight: 300;
}


/* Device breakpoint size */
@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
    .navbar-container {
        width: 100%;
        padding: 1rem;
    }
    .container {
        width: 100%;
        padding: 1rem;
        margin: 0;
    }

    .content-about img.about-img {
        height: 120px;
    }

    .content-home {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content-home .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-block: 12px;
    }

    .content-home .image {
        order: -1;
    }
    .content-home .image img {
        width: 150px;
    }

    .card-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .card {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {

}