@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

:root {
    --color-primary: #004747;
    --color-secondary: #008080;
    --color-tertiary: #47F4F4;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Lato", sans-serif;
    color: var(--color-white);
}

body {
    background-image: url("../img/bgshape.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

body::-webkit-scrollbar {
    width: 0.2em;
    background-color: var(--color-primary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
}

/* Navigation bar */
.navbar-container {
    position: relative;
    height: 72px;
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    z-index: 999;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

nav.nav-list ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

nav.nav-list ul li i {
    font-size: 22px;
    color: var(--color-white);
}

nav.nav-list ul li button.button-menu {
    background-color: transparent;
    border: none;
}
/* End of Navigation bar */

.container {
    width: 75%;
    margin: 2.5rem auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-home {
    display: flex;
    flex-wrap: wrap;
}

.home {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}

.home h1.title-head {
    font-size: 46px;
    font-weight: 300;
}

.home p {
    margin: 12px 0 2rem 0;
    line-height: 1.5rem;
    letter-spacing: .5px;
}

.content-home .image {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.content-home .image img {
    width: 220px;
    border-radius: 50%;
}

.cv-button {
    width: 8rem;
    padding: 12px 0;
    background-color: var(--color-secondary);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px;
    border: 3px solid transparent;
    border-radius: 5px;
    box-shadow: 4px 4px var(--color-black);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.cv-button:hover {
    background-color: var(--color-white);
    color: var(--color-secondary);
    transform: translate(2px, 2px);
    box-shadow: 2px 2px var(--color-black);
}

/* About */
.content-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem 0;
    justify-content: center;
}

.content-about img.about-img {
    height: 120px;
}

.content-about h4 {
    text-align: center;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.content-about .interest {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

/* Project */
.content-project, .content-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 0.8rem;
}

.content-project h2, .content-contact h2 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}

.content-project p, .content-contact p {
    text-align: center;
    letter-spacing: 1px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    width: 250px;
    height: 350px;
    padding: .5rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: var(--color-secondary);
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-project-name {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1px;
}

.card-project-name h3.project-title {
    margin-top: 5px;
    font-weight: 400;
}

.card-project-name p.project-caption {
    font-size: 9px;
    margin-top: 3px;
}

.card .button-card {
    color: var(--color-black);
    background-color: var(--color-tertiary);
    margin: 1rem 0;
    padding: 7px 16px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: 4px 4px var(--color-black);
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.card .button-card:hover {
    background-color: var(--color-white);
    color: var(--color-secondary);
    transform: translate(2px, 2px);
    box-shadow: 2px 2px var(--color-black);
}

.content-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 0.8rem;
}

.content-contact .contact ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1.6rem 0;
    gap: 1rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    font-weight: 300;
}


/* Device breakpoint size */
@media only screen and (max-width: 768px) {
    .navbar-container {
        width: 75%;
        padding: 1rem 1.6rem;
    }
    .container {
        width: 75%;
        padding: 1.6rem;
        margin: 2rem auto;
    }

    .content-about img.about-img {
        height: 120px;
    }

    .content-home {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content-home .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-block: 12px;
    }

    .content-home .image {
        order: -1;
    }
    .content-home .image img {
        width: 150px;
    }

    .card-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 480px) {
    .navbar-container {
        width: 90%;
        padding: 1rem;
    }

    .container {
        width: 90%;
        padding: 1rem;
        margin: 1rem auto;
    }

    .card {
        width: 80%;
    }
}
